body,
html {
	font-family: monospace;
}

fieldset {
	border: 2px dashed black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

form {
	font-size: 2rem;
	max-width: 40%;
	margin: 0 auto;
	display: block;
}

input,
button {
	font-size: 1.5rem;
}

#container {
	border: 2px dashed black;
	width: 50%;
	text-align: center;
	display: block;
	margin: 0 auto;
}

#authors {
	list-style-type: none;
	line-height: 2.5rem;
	font-size: 2rem;
	padding: 2rem;
}

.author {
	border: 1px solid black;
	padding: 1rem;
}

.button__edit {
	margin: 0.5rem;
	background: lightgreen;
	border: 1px solid gray;
}

.button__view {
	margin: 0.5rem;
	background: lightblue;
	border: 1px solid gray;
}
