<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a new author</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <form action="/authors" method="post">
        <fieldset>
          <legend>Create a new author</legend>
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Orson Scott Card" value=""><br>
          <label for="age">Age</label>
          <input type="number" name="age" placeholder="42" value="">
          <button type="submit" name="button">Create New Author</button>
        </fieldset>
      </form>
  </body>
</html>
